* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/bor.jpg)no-repeat;
    background-size: 1920px 1000px;  
    background-position: right 0px top -300px;
}

.h1 {
    position: absolute;
    right: 40%;
    bottom: 20%;
    font-size: 50px;
    font-family: Franklin Gothic Medium;
}

.p {
    position: absolute;
    right: 10%;
    bottom: 8%;
    font-size: 25px;
    font-family: Franklin Gothic Medium;
    width: 1300px;
}

#map {
    position: absolute;
    right: 41%;
    bottom: -240px;
    width: 400px;
    height: 300px;
}

#video {
    position: absolute;
    right: 27%;
    bottom: -750px;
    width: 854px;
    height: 480px;
}

#header {
    position: absolute;
    bottom: -700px;
    top: 1850px;
    z-index: -5;

     left: 50%; 
    transform: translateX(-50%); 
    transition: .3s all;
    width: 100%;
    font-family: cursive;
}

#ul {
    background-color: #000000;
    height: 100px;
}

#h2 {
    position: relative;
    top: -30px;
}

a {
    color: chartreuse;
}

@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1366px) {
    body {
        background: url(./img/bor.jpg)no-repeat;
        background-size: 1366px 500px;  
    }
    .h1 {
        bottom: 13%;
        right: 40%;
    }
    .p {
        bottom: -40px;
        right: 0;
        left: 7%;
        width: 1200px;
    }
    #map {
        bottom: -355px;
        right: 33%;
    }
    #video {
        bottom: -900px;
        right: 16%;
    }
    #header {
        top: 1700px;
    }
}

@media screen and (max-width: 1024px) {
   
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}
