* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/bor.jpg)no-repeat;
    background-size: 1920px 1000px;  
    background-position: right 0px top -300px;
}

.h1 {
    position: absolute;
    right: 40%;
    bottom: 20%;
    font-size: 50px;
    font-family: Franklin Gothic Medium;
}

.p {
    position: absolute;
    right: 10%;
    bottom: 8%;
    font-size: 25px;
    font-family: Franklin Gothic Medium;
    width: 1300px;
}

#map {
    position: absolute;
    right: 41%;
    bottom: -150px;
    width: 300px;
    height: 200px;
}

#video {
    position: absolute;
    right: 27%;
    bottom: -670px;
    width: 854px;
    height: 480px;
}

#header {
    position: absolute;
    bottom: -700px;
    top: 1790px;
    z-index: -5;

     left: 50%; 
    transform: translateX(-50%); 
    transition: .3s all;
    width: 100%;
    font-family: cursive;
}

#ul {
    background-color: #000000;
    height: 100px;
}

#h2 {
    position: relative;
    top: -30px;
}

a {
    color: chartreuse;
}
